version: '3'

services: 
  microdb: 
    container_name: microdb
    image: postgres:16-alpine
    env_file:
      - .env
    ports:
      - 15432:5432  
    volumes:
      - pgdata:/var/lib/postgresql/data

  django-app:
    container_name: django-app
    command: >
      bash -c "y | python3 manage.py makemigrations && python3 manage.py migrate && python3 manage.py runserver 0.0.0.0:8000"
    # agar microni ohirgi versiyasi topilmasa build qiladi
    build: .
    image: micro:latest
    # django .env credentinalarini kormaganu un
    env_file:
      - .env
    environment:
      PYTHONPATH: /micro
    # automate reload/syncronus boladi containerga 
    # yani src ichidagi faylar automate containerga synhron boladi
    volumes: 
      - ./src:/micro # live reaload src file copy to micro cont
    ports:
      - 8001:8000
    depends_on:
      - microdb

  fast-api:
    container_name: fastapi
    command: uvicorn api.main:app --port 9000 --reload --host 0.0.0.0
    # agar microni ohirgi versiyasi topilmasa build qiladi
    build: .
    env_file:
      - .env
    image: micro:latest
    environment:
      PYTHONPATH: /micro
    # automate reload/syncronus boladi containerga 
    # yani src ichidagi faylar automate containerga synhron boladi
    volumes:
      - ./src:/micro # live reaload src file copy to micro cont
    ports:
      - 9999:9000
    depends_on: 
      - microdb

volumes:
  pgdata: